*.slo
*.lo
*.o
*.obj
*.so
*.exe
*.out
*.app

.vscode
.cache

blaze
Blaze
blaze-cli
compile_commands.json

build
linux-build
.clangd

*.laz
*.las
*.tif
*.aux.xml
*.omap*
*.xmap*
*.dxf
*.crt
*.swp

deps/
linux-deps/
out/
tmp/
laz_files/
vcpkg_installed/

*.user
.qtcreator/
